.helps-1,
.helps-2,
.helps-3,
.helps-4,
.helps-5,
.helps-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.helps-6 {
  margin-bottom: 100px;
}

.helps-1 p,
.helps-2 p,
.helps-3 p,
.helps-4 p,
.helps-5 p,
.helps-6 p {
  font-size: 25px;
}
