.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(94, 104, 128);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  /* color: white; */
  box-shadow: 5px 5px 20px 1px rgb(86, 86, 97);
}

.how-it-helps,
.comments,
.donations {
  color: rgb(57, 57, 69);
}

.home {
  color: rgb(213, 213, 222);
}

.home,
.how-it-helps,
.comments,
.donations {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
