.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  /* color: white; */
  /* box-shadow: 5px 5px 20px 1px rgb(86, 86, 97); */
}

.home,
.how-it-helps,
.comments,
.donations {
  color: white;
}
