p {
  color: rgb(213, 213, 222);
  margin: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
}

img {
  max-width: 50vw;
  margin-right: 20px;
  margin-top: 50px;
  border-radius: 30px;
}

.home-page-summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
