.buttons {
  background-color: rgb(94, 104, 128);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  color: white;
}

p {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 70px;
}

.github,
.linkedin {
  margin-right: 20px;
}
